.w50 {
    max-width: 50%;
}

.flex-container {
    display: flex;
}

.flex-container-center {
    display: flex;
    justify-content: center;
}

.w100 {
    max-width: 100%;
}

.w20 {
    max-width: 20%;
}

.w80 {
    max-width: 80%;
}