<div>
    <!-- This page contains the layout for the ME section (or any account) -->
     <!-- We also need a script to run once this the layout loads that asks for all posts for this user -->
      <!-- load all the posts of this user into the posts section of the page -->
       <!-- NEED:
            - endpoint that returns all posts from a given user on chronological order
            - frontend stuff: This page HTML, this page's CSS and the JS code
            - figure out how I can tell thymeleaf to add or not to add account options like edit and remove... start with just an accont page, no edits
            then think about the rest, maybe we can combine account.html with account_me.html which would add the edit options on top of that. The options
            are kind of a layer on top of account.html -->

</div>