<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMW - Login</title>
</head>


<body>
    <p>Login</p>
    
    <div id="message-container"></div>
    
    <!-- login form -->
    <form id="login-form" action="/login" method="post">
        <label for="username">username</label>
        <input id="username" type="text">
        <label for="password">password</label>
        <input id="password" type="text">
        <button type="submit">Submit</button>
    </form>
    
    <script defer type="module" src="./js/login.js"></script>

</body>
</html>