<!-- login form -->
<form class="container" id="registration-form" action="/register" method="post">
    <div class="field">
        <label class="label">Username</label>
        <div class="control">
            <input name="username" class="input" type="text" placeholder="▀▐▄▌█▀ ■▐">
        </div>
    </div>
      
    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input name="password" class="input" type="password" placeholder="▓▒░▓▒░▓▒░">
        </div>
    </div>
    <button class="button" type="submit">Submit</button>
</form>

<!-- add the view script -->
<script type="module" src="./js/register.js"></script>